<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>Submit Photo</h1>
        <form action="" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <p>
                {{ form.photo.label }}<br>
                {{ form.photo(size=32) }}<br>
                {% for error in form.photo.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>

        <!-- {% if filename %}
            <img src="https://s3.amazonaws.com/caption-maker-bucket/{{ filename }}" alt='input image' width="250" height="250"/>
        {% endif %} -->

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <!-- {% if caption %}
            {{ caption }}
        {% endif %} -->
    </body>
</html>